table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: black;
    color: white;
  }

  tr.even{
      background: gainsboro
  }

  tr.odd{
      background: darkgray
  }